[submodule "covins"]
	path = covins
	url = https://github.com/sparx-mth/covins.git
[submodule "gz-sim-environment"]
	path = gz-sim-environment
	url = https://github.com/sparx-mth/gz-sim-environment.git
	branch = jazzy_vehicle
[submodule "ORB-SLAM3-ROS2-Docker"]
	path = ORB-SLAM3-ROS2-Docker
	url = https://github.com/sparx-mth/ORB-SLAM3-ROS2-Docker.git
	branch = map_merger_daphna
[submodule "NanoLLM_VILA_and_OWL"]
	path = NanoLLM_VILA_and_OWL
	url = https://github.com/sparx-mth/NanoLLM_VILA_and_OWL.git
[submodule "technion_joint_research/docs"]
	path = technion_joint_research/docs
	url = https://github.com/moshebeutel/25.Planning.in.the.unknown.Technion.IAI.git
