[submodule "ORB-SLAM3-ROS2-Docker"]
	path = ORB-SLAM3-ROS2-Docker
	url = https://github.com/moshebeutel/ORB-SLAM3-ROS2-Docker.git
[submodule "covins"]
	path = covins
	url = https://github.com/shirbenami/covins.git
[submodule "gz-sim-environment_fork"]
	path = gz-sim-environment_fork
	url = https://github.com/daphnaa/gz-sim-environment_fork.git
	branch = jazzy_vehicle
