[submodule "covins"]
	path = covins
	url = https://github.com/shirbenami/covins.git
[submodule "gz-sim-environment_fork"]
	path = gz-sim-environment_fork
	url = https://github.com/daphnaa/gz-sim-environment_fork.git
	branch = jazzy_vehicle
[submodule "orb_slam_module"]
	path = orb_slam_module
	url = https://github.com/NadavCherry/ORB-SLAM3-ROS2-Docker.git
