cv_bridge==4.1.0
geometry_msgs==5.3.6
message_filters==4.11.9
minsnap_trajectories==0.1.2
nav_msgs==5.3.6
numpy>=1.21,<2.3.0
matplotlib>=3.6.3
opencv-python>=4.8.0
ompl==1.7.0
Pillow==12.1.0
rclpy==7.1.6
scipy==1.17.0
sensor_msgs==5.3.6
sensor_msgs_py==5.3.6
std_msgs==5.3.6
std_srvs==5.3.6
tf2_ros_py==0.36.16
torch==2.7.1
transformers==4.57.3
websockets==16.0
